body
{
    background-color:#121534;
    background-image:url("../images/back.png");
    background-repeat:no-repeat;
    background-size:cover;
}
*
{
    padding:0;margin:0;
    box-sizing:border-box
}
:root
{
    /* اختصار الوان السليكت العام */

    --selection_backgroundColor:#d43073;

    --selection_fontColor:#f3f5ea;

    /* نهاية اختصار الوان السليكت العام */

    /****************************************************************************************************/

    /* اختصارات اللوان قاعدة التصميم */

    --base_backgroundColor:#1b2141;
    
    --base_linearGradientColor_1:#ea4186;
    
    --base_linearGradientColor_2:#544ca0;

    /* نهاية اختصارات اللوان قاعدة التصميم */

    /****************************************************************************************************/

    /* اختصارات الوان فقاعة رسالة الترحيب */

    --bubble_backgroundColor:#29355d;

    --bubble_fontColor:#f3f5ea;

    /* نهاية اختصارات الوان فقاعة رسالة الترحيب */

    /****************************************************************************************************/

    /* اختصارات الوان فورم التسجيل و تسجيل الدخول */

    --logRegForms_InputbackgroundColor:#212646;

    --logRegForms_InputfontColor:#f3f5ea;

    --logRegForms_InputplaceholderColor:#787c8e;

    --logRegForms_iconEyeColor:#787c8e;

    --logRegForms_iconWrongColor:#ea4141;

    --logRegForms_iconRightColor:#5bce93;

    --logRegForms_iconCheckColor:#f3f5ea;

    --logRegForms_fontCheckColor:#f3f5ea;

    --logRegForms_linkFontColor:#5e99ff;

    --logRegForms_instructionsBackgroundColor:#4e5ba0;
    
    --logRegForms_instructionsFontColor:#f3f5ea;
    
    --logRegForms_selectionBackgroundColor:#f3f5ea;
    
    --logRegForms_selectionFontColor:#4e5ba0;

    --logRegForms_buttonBackgroundColor:#ea4186;
    
    --logRegForms_buttonColor:#f3f5ea;

    /* نهاية اختصارات الوان فورم التسجيل و تسجيل الدخول */

    /****************************************************************************************************/

    /* اختصارات الوان البروفايل */
    
    --profile_coverPhotoBackgroundColor:#1a1c37;

    --profile_effectCoverAndPhoto:#00000036;

    --profile_userNumberColor:#ea4186;

    --profile_usernameColor:#594ea0;

    --profile_buttonBackgroundColor:#ea4186;
    
    --profile_buttonColor:#f3f5ea;   

    /* نهاية اختصارات الوان البروفايل */
    
    /****************************************************************************************************/
    
    /* اختصارات الوان نافذة تعديل معلومات البروفايل */

    --windowsBase_backgroundColor:#1b2141e8;

    --editProfileWindow_backgroundColor:#1a1c37;

    --editProfileWindow_InputbackgroundColor:#212646;

    --editProfileWindow_InputfontColor:#f3f5ea;

    --editProfileWindow_InputplaceholderColor:#787c8e;

    --editProfileWindow_coverPhotoBackgroundColor:#1a1c37;

    --editProfileWindow_buttonBackgroundColor:#ea4186;
    
    --editProfileWindow_buttonColor:#f3f5ea;

    /* نهاية اختصارات الوان نافذة تعديل معلومات البروفايل */
}

::selection
{
    background-color:#ea4186;
    color:#f3f5ea
}

/* قاعدة فورم تسجيل الدخول و التسجيل و الملف الشخصي */

.base
{
    width:520px;
    margin:41px auto 40px;background-color:var(--base_backgroundColor);
    box-shadow:8px 8px 27px 0px #000000a1;border-top:0;
    position:relative;overflow:hidden;

    &::after
    {
        content:"";width:100%;height:6px;
        background:linear-gradient(to left, var(--base_linearGradientColor_1) 5%, var(--base_linearGradientColor_2) 20%);
        position:absolute;top:0
    }

    .image-cover
    {
        width:100%;height:100%;
        background-image:url("../images/back-empty.png");
        background-repeat:no-repeat;background-size:cover;
        position:absolute;top:0;left:0;z-index:10;
        pointer-events:none;
    }
}

/* تنسيقات الجزء العلوي */

.base .parts-top
{
    width:166px;height:157px;
    margin:60px auto 30px;position:relative;

    img
    {
        transform:translateY(0);
        animation:movedTopToDown 5s linear 0s infinite;
        pointer-events:none;
    }
}
@keyframes movedTopToDown
{
    0% {transform:translateY(0)}
    50% {transform:translateY(10px)}
    100% {transform:translateY(0px)}
}

/**************************************************************************************************************/

/* تنسيقات نص الترحيب */

.base .parts-top .bubble
{
    padding:8px 12px 5.5px 10px;
    background-color:var(--bubble_backgroundColor);
    transform:translate(-50%,-50%);
    border-radius:18px 10px 20px 13px;
    position:absolute;top:21%;left:22%;

    &::after
    {
        content:"";width:14px;height:23px;
        background-image:url("../images/tail.png");
        transform:translate(-50%,-50%);
        position:absolute;top:45px;left:50%;
    }

    p
    {
        text-transform:uppercase;
        font-family:'Montserrat', sans-serif;
        font-size:18px;font-weight:700;
        font-style:italic;color:var(--bubble_fontColor);
        cursor:context-menu
    }
}

/* نهاية تنسيقات نص الترحيب */

/* نهاية تنسيقات الجزء العلوي */

/************************************************************************************************************************/

/* تنسيقات الجزء السفلي */

.base .parts-bottom
{
    width:100%;padding:0 90px 43px;
    position:relative
}

/* تنسيقات عامة للفورمات */

.base .parts-bottom form
{
    width:100%;position:relative;
}

/* تنسيقات الانبوتات */

.base .parts-bottom form .inputs
{
    width:100%;height:41px;
    margin-bottom:18px;background-color:var(--logRegForms_InputbackgroundColor);
    border-bottom:2px solid #212646;position:relative;
    overflow:hidden;

    /* تنسيقات الانبوتات الداخلية */

    input
    {
        width:100%;height:100%;
        padding:6px 44px 0 10px;
        background-color:transparent;
        font-family:'Montserrat', sans-serif;
        font-size:15px;font-weight:400;
        color:var(--logRegForms_InputfontColor);border:0;outline:none;

        &::placeholder
        {
            text-transform:capitalize;
            color:var(--logRegForms_InputplaceholderColor);
        }
    }

    /* نهاية تنسيقات الانبوتات الداخلية */

    /******************************************************************************************/

    /* تنسيقات الايقونات التي بداخل الانبوتات */

    i
    {
        position:absolute;
        transform:translateY(-50%);
        font-size:25px;color:var(--logRegForms_iconEyeColor);
        top:50%;right:8px;cursor:pointer;
    }

    .icon-hidden-pass, .icon-show-pass
    {
        top:52%;
    }

    .icon-no
    {
        display:none;font-size:15px;
        color:var(--logRegForms_iconWrongColor);right:15px;
    }   

    .icon-check
    {
        display:none;
        font-size:15px;color:var(--logRegForms_iconRightColor);
        top:53%;right:15px;
    }

    /* نهاية تنسيقات الايقونات التي بداخل الانبوتات */
}

/* نهاية تنسيقات الانبوتات */

/****************************************************************************************************/

/* تنسيقات المعلومات */

.base .parts-bottom form .infos-base
{
    display:flex;width:100%;
    margin-bottom:39px;
    justify-content:space-between;
    align-items:center
}

/* تنسيقات خيار تذكرني */

.base .parts-bottom form .infos-base .check-base
{
    display:flex;align-items:center;cursor:pointer;

    .parts-left
    {
        width:15px;height:14px;margin-right:8px;
        position:relative;overflow:hidden;

        i
        {
            display:none;
            transform:translate(-50%,-50%);
            position:absolute;font-size:10px;
            color:var(--logRegForms_iconCheckColor);top:54%;left:8px;            
        }
    }   
    
    .parts-right
    {        
        span
        {
            display:inline-block;
            transform:translateY(0);
            text-transform:capitalize;
            font-family:'Montserrat', sans-serif;
            font-size:13px;font-weight:500;
            color:var(--logRegForms_fontCheckColor);
        }
    }
}

/* نهاية تنسيقات خيار تذكرني */

/******************************************************************************************/

/* تنسيقات خيار هل لديك حساب او هل لا تمتلك حساب بعد */

.base .parts-bottom form .infos-base a
{
    display:inline-block;
    transform:translateY(0);
    text-decoration:none;text-transform:capitalize;
    font-family:'Montserrat', sans-serif;
    font-size:13px;font-weight:500;
    font-style:italic;color:var(--logRegForms_linkFontColor);
}

/* نهابة تنسيقات خيار هل لديك حساب او هل لا تمتلك حساب بعد */

/* نهاية تنسيقات المعلومات */

/****************************************************************************************************/

/* تنسيقات زر تسجيل او تسجيل الدخول */

.base .parts-bottom form .buttons
{
    display:flex;justify-content:center;
    position:relative;z-index:10;

    button
    {
        padding:14px 69px 13px;
        background-color:var(--logRegForms_buttonBackgroundColor);
        box-shadow:18px 8px 23px -2px #00000082;
        border-radius:20px;text-transform:uppercase;
        font-family:'Montserrat', sans-serif;
        font-size:13px;font-weight:500;color:var(--logRegForms_buttonColor);
        border:0;outline:none;cursor:pointer;
    }
}

/* نهاية تنسيقات زر تسجيل او تسجيل الدخول */

/* نهاية تنسيقات عامة للفورمات */

/**************************************************************************************************************/

/* تنسيقات مخصصة لفورم تسجيل الدخول */

.base .parts-bottom #login-form
{
    .inputs:nth-child(2)
    {
        margin-bottom:17px;

        input
        {
            padding-right:71px;
        }
    }

    #login-if-password
    {
        top:54%;right:40px
    }
}

/* نهاية تنسيقات مخصصة لفورم تسجيل الدخول */

/**************************************************************************************************************/

/* تنسيقات مخصصة لـ فورم التحقق من الايميل */

.base .parts-bottom #check-email-form
{
    .inputs
    {
        margin-bottom:17px;

        input
        {
            padding-top:4px;
            padding-right:43px;
        }
    }

    .infos-base
    {
        justify-content:flex-end
    }
}

/* نهاية تنسيقات مخصصة لـ فورم التحقق من الايميل */

/**************************************************************************************************************/

/* تنسيقات مخصصة لـ فورم انشاء كلمة مرور جديدة */

.base .parts-bottom #new-password-form
{
    #correct-email
    {
        display:none;
    }

    .inputs:last-of-type
    {
        margin-bottom:17px;
    }

    .infos-base
    {
        justify-content:flex-end
    }    

    .pass-instructions
    {
        display:none;width:100%;padding:15px 25px 16px;
        margin-bottom:17px;background-color:var(--logRegForms_instructionsBackgroundColor);
        position:relative;overflow:hidden;

        ::selection
        {
            background-color:var(--logRegForms_selectionBackgroundColor);
            color:var(--logRegForms_selectionFontColor)
        }

        h1
        {
            margin-bottom:15px;
            text-transform:capitalize;
            font-family:'Montserrat', sans-serif;
            font-size:15px;font-weight:500;
            color:var(--logRegForms_instructionsFontColor);
        }

        ul
        {
            li
            {
                margin-bottom:15px;line-height:22px;
                font-family:'Montserrat', sans-serif;
                font-size:14px;font-weight:500;
                color:var(--logRegForms_InputfontColor);
            }

            li:last-child
            {
                margin-bottom:0;
            }
        }
    }
}

/* نهاية تنسيقات مخصصة لـ فورم انشاء كلمة مرور جديدة */

/**************************************************************************************************************/

/* تنسيقات فورم التسجيل بحساب جديد */

.base .parts-bottom #reg-form
{
    .inputs:nth-child(4)
    {
        margin-bottom:17px;
    }

    .instructions
    {
        display:none;width:100%;padding:15px 25px 16px;
        margin-bottom:17px;background-color:var(--logRegForms_instructionsBackgroundColor);
        position:relative;overflow:hidden;

        ::selection
        {
            background-color:var(--logRegForms_selectionBackgroundColor);
            color:var(--logRegForms_selectionFontColor)
        }

        h1
        {
            margin-bottom:15px;
            text-transform:capitalize;
            font-family:'Montserrat', sans-serif;
            font-size:15px;font-weight:500;
            color:var(--logRegForms_instructionsFontColor);
        }

        ul
        {
            li
            {
                margin-bottom:15px;line-height:22px;
                font-family:'Montserrat', sans-serif;
                font-size:14px;font-weight:500;
                color:var(--logRegForms_InputfontColor);
            }

            li:last-child
            {
                margin-bottom:0;
            }
        }
    }
}

/* نهاية تنسيقات فورم التسجيل بحساب جديد */

/**************************************************************************************************************/

/* تنسيقات الملف الشخصي */

.base .parts-bottom .profile
{
    width:100%;
}

/* تنسيقات المعلومات الشخصية */

.base .parts-bottom .profile .profile-infos
{
    width:100%;margin-bottom:10px;position:relative;

    .cover-photo-number
    {
        width:100%;height:150px;margin-bottom:47px;
        background-color:var(--profile_coverPhotoBackgroundColor);
        box-shadow:0 0 60px -2px #00000082;position:relative;

        .profile-progress
        {
            display:none;
            background-color:#584da0;
            transition:all .5s linear;
            position:absolute;top:-9px;left:0;
            z-index:3;
        }

        #cover-progress
        {
            width:0;height:5px;
        }

        #photo-progress
        {
            width:5px;height:100%;
            top:0;left:-9px;
        }

        .max-mess
        {
            width:80%;padding:9px 0 6px;
            background-color:#ea4186c7;
            transform:translateX(-50%);
            box-shadow:0 0 23px -2px #0000005e;
            position:absolute;overflow:hidden;
            top:-50px;left:50%;z-index:4;

            p
            {
                padding:0;margin:0;position:relative;
                text-align:center;text-transform:uppercase;
                font-family:'Montserrat', sans-serif;
                font-size:12px;font-weight:600;
                color:white
            }
        }

        .cover
        {
            width:100%;height:100%;
            position:relative;overflow:hidden;

            input
            {
                width:100%;height:100%;
                transform:translate(-50%,-50%);
                position:absolute;top:50%;left:50%;
                z-index:2;opacity:0;cursor:pointer;
            }

            .effect-cover
            {
                content:"";
                width:100%;height:100%;
                background-color:var(--profile_effectCoverAndPhoto);
                transition:all 30ms ease;position:absolute;
                top:0;left:0;pointer-events:none;
                opacity:0;z-index:1;
            }
    
            &:hover .effect-cover
            {
                opacity:1;
            }
        }

        .photo
        {
            width:105px;height:105px;
            background-color:var(--profile_coverPhotoBackgroundColor);
            transform:translateX(-50%);box-shadow:0 2px 23px -2px #00000082;
            border-radius:50%;position:absolute;overflow:hidden;
            top:50%;left:50%;z-index:2;

            input
            {
                width:100%;height:100%;
                transform:translate(-50%,-50%);
                position:absolute;top:50%;left:50%;
                z-index:2;opacity:0;cursor:pointer;
            }

            .effect-photo
            {
                content:"";
                width:100%;height:100%;
                background-color:var(--profile_effectCoverAndPhoto);
                transition:all 30ms ease;position:absolute;
                top:0;left:0;pointer-events:none;
                opacity:0;z-index:1;
            }
    
            &:hover .effect-photo
            {
                opacity:1;
            }
        }

        img
        {
            display:inline-block;
            width:100%;height:100%;
            object-fit:cover;position:relative;
            cursor:pointer;
        }
        
        p
        {
            position:absolute;
            text-transform:uppercase;
            font-family:'Montserrat', sans-serif;
            font-size:15px;font-weight:500;color:var(--profile_userNumberColor);
            bottom:-17%;left:0;cursor:context-menu
        }
    }

    .username
    {
        display:flex;justify-content:center;

        h1
        {
            position:relative;
            text-transform:uppercase;
            font-family:'Montserrat', sans-serif;
            font-size:20px;font-weight:500;
            color:var(--profile_usernameColor);
            cursor:pointer;
        }      

        .inputs
        {
            width:100%;height:41px;
            margin-bottom:14px;background-color:var(--logRegForms_InputbackgroundColor);
            border-bottom:2px solid #212646;position:relative;
            overflow:hidden;

            /* تنسيقات الانبوتات الداخلية */

            input
            {
                width:100%;height:100%;
                padding:2px 44px 0 10px;
                background-color:transparent;
                font-family:'Montserrat', sans-serif;
                font-size:15px;font-weight:600;
                color:var(--logRegForms_InputfontColor);border:0;outline:none;

                &::placeholder
                {
                    text-transform:capitalize;
                    color:var(--logRegForms_InputplaceholderColor);
                }
            }
        }
    }
}

.base .parts-bottom .profile .profile-infos .username .buttons-icons
{
    display:flex;width:100%;margin-bottom:5px;
    justify-content:flex-end;align-items:center;

    button
    {
        width:28px;height:28px;
        padding:0;margin-left:10px;
        border-radius:50%;border:0;position:relative;
        
        &:first-of-type
        {           
            background-color:var(--profile_usernameColor);
        }

        i
        {
            position:absolute;
            transform:translate(-50%,-50%);font-size:25px;
            top:50%;left:50%;color:var(--profile_buttonColor);
            cursor:pointer;
        }

        .icon-no
        {
            display:inline-block;font-size:15px;
        }   

        .icon-check
        {
            display:inline-block;
            font-size:15px;top:53%;
        } 

        &:last-of-type
        {           
            background-color:var(--profile_userNumberColor);
        }
    }
}

/* نهاية تنسيقات المعلومات الشخصية */

/****************************************************************************************************/

/* تنسيقات زر تسجيل الخروج */

.base .parts-bottom .profile .buttons
{
    display:flex;justify-content:center;
    position:relative;z-index:10;

    a
    {
        padding:15px 69px 13px;
        background-color:var(--profile_buttonBackgroundColor);
        box-shadow:0 2px 23px -2px #00000082;
        border-radius:20px;text-decoration:none;
        text-transform:uppercase;font-family:'Montserrat', sans-serif;
        font-size:13px;font-weight:500;color:var(--profile_buttonColor);
        border:0;outline:none;cursor:pointer;
    }
}

/* نهاية تنسيقات زر تسجيل الخروج */

/* نهاية تنسيقات الملف الشخصي */

/* نهاية تنسيقات الجزء السفلي */

/************************************************************************************************************************/

/* ضبط تنسيقات الميديا كويري */

@media (min-width:240px) and (max-width:301px)
{
    .base
    {
        width:251px;
    }

    /* تنسيقات الجزء العلوي */

    /**************************************************************************************************************/

    /* تنسيقات نص الترحيب */

    /* نهاية تنسيقات نص الترحيب */

    /* نهاية تنسيقات الجزء العلوي */

    /************************************************************************************************************************/

    /* تنسيقات الجزء السفلي */

    .base .parts-bottom
    {
        padding:0 30px 43px !important;
    }

    /* تنسيقات عامة للفورمات */

    /* تنسيقات الانبوتات */

    /* نهاية تنسيقات الانبوتات */

    /****************************************************************************************************/

    /* تنسيقات المعلومات */

    .base .parts-bottom form .infos-base
    {
        span,a
        {
            line-height:18px;
        }
    }

    /* تنسيقات خيار تذكرني */

    .base .parts-bottom form .infos-base .check-base
    {
        .parts-left
        {
            width:18px;
        }
    }

    /* نهاية تنسيقات خيار تذكرني */

    /******************************************************************************************/

    /* تنسيقات خيار هل لديك حساب او هل لا تمتلك حساب بعد */

    .base .parts-bottom form .infos-base a
    {
        text-align:right;
    }

    /* نهابة تنسيقات خيار هل لديك حساب او هل لا تمتلك حساب بعد */

    /* نهاية تنسيقات المعلومات */

    /****************************************************************************************************/

    /* تنسيقات زر تسجيل او تسجيل الدخول */

    /* نهاية تنسيقات زر تسجيل او تسجيل الدخول */

    /* نهاية تنسيقات عامة للفورمات */

    /**************************************************************************************************************/

    /* تنسيقات مخصصة لفورم تسجيل الدخول */

    /* نهاية تنسيقات مخصصة لفورم تسجيل الدخول */

    /**************************************************************************************************************/

    /* تنسيقات فورم التسجيل بحساب جديد */

    /* نهاية تنسيقات فورم التسجيل بحساب جديد */

    /**************************************************************************************************************/

    /* تنسيقات الملف الشخصي */

    /* تنسيقات المعلومات الشخصية */

    /* نهاية تنسيقات المعلومات الشخصية */

    /****************************************************************************************************/

    /* تنسيقات زر تسجيل الخروج */

    /* نهاية تنسيقات زر تسجيل الخروج */

    /* نهاية تنسيقات الملف الشخصي */

    /* نهاية تنسيقات الجزء السفلي */

    /************************************************************************************************************************/

    /* تنسيقات النوافذ المنبثقة */

    /* تنسيقات نافذة تعديل الكوفر او الصورة الشخصية */

    /* تنسيقات رؤية النتيجة قبل الحفظ */

    /* نهاية تنسيقات رؤية النتيجة قبل الحفظ */

    /****************************************************************************************************/

    /* تنسيقات رؤية ازرار الحفظ او الاغلاق */

    /* نهاية تنسيقات رؤية ازرار الحفظ او الاغلاق */

    /* نهاية تنسيقات نافذة تعديل الكوفر او الصورة الشخصية */

    /* نهاية تنسيقات النوافذ المنبثقة */
}

@media (min-width:302px) and (max-width:360px)
{
    .base
    {
        width:272px;
    }

    /* تنسيقات الجزء العلوي */

    /**************************************************************************************************************/

    /* تنسيقات نص الترحيب */

    /* نهاية تنسيقات نص الترحيب */

    /* نهاية تنسيقات الجزء العلوي */

    /************************************************************************************************************************/

    /* تنسيقات الجزء السفلي */

    .base .parts-bottom
    {
        padding:0 37px 43px !important;
    }

    /* تنسيقات عامة للفورمات */

    /* تنسيقات الانبوتات */

    /* نهاية تنسيقات الانبوتات */

    /****************************************************************************************************/

    /* تنسيقات المعلومات */

    .base .parts-bottom form .infos-base
    {
        span,a
        {
            line-height:18px;
        }
    }

    /* تنسيقات خيار تذكرني */

    .base .parts-bottom form .infos-base .check-base
    {
        .parts-left
        {
            width:18px;
        }
    }

    /* نهاية تنسيقات خيار تذكرني */

    /******************************************************************************************/

    /* تنسيقات خيار هل لديك حساب او هل لا تمتلك حساب بعد */

    .base .parts-bottom form .infos-base a
    {
        text-align:right;
    }

    /* نهابة تنسيقات خيار هل لديك حساب او هل لا تمتلك حساب بعد */

    /* نهاية تنسيقات المعلومات */

    /****************************************************************************************************/

    /* تنسيقات زر تسجيل او تسجيل الدخول */

    /* نهاية تنسيقات زر تسجيل او تسجيل الدخول */

    /* نهاية تنسيقات عامة للفورمات */

    /**************************************************************************************************************/

    /* تنسيقات مخصصة لفورم تسجيل الدخول */

    /* نهاية تنسيقات مخصصة لفورم تسجيل الدخول */

    /**************************************************************************************************************/

    /* تنسيقات فورم التسجيل بحساب جديد */

    /* نهاية تنسيقات فورم التسجيل بحساب جديد */

    /**************************************************************************************************************/

    /* تنسيقات الملف الشخصي */

    /* تنسيقات المعلومات الشخصية */

    /* نهاية تنسيقات المعلومات الشخصية */

    /****************************************************************************************************/

    /* تنسيقات زر تسجيل الخروج */

    /* نهاية تنسيقات زر تسجيل الخروج */

    /* نهاية تنسيقات الملف الشخصي */

    /* نهاية تنسيقات الجزء السفلي */

    /************************************************************************************************************************/

    /* تنسيقات النوافذ المنبثقة */

    /* تنسيقات نافذة تعديل الكوفر او الصورة الشخصية */

    /* تنسيقات رؤية النتيجة قبل الحفظ */

    /* نهاية تنسيقات رؤية النتيجة قبل الحفظ */

    /****************************************************************************************************/

    /* تنسيقات رؤية ازرار الحفظ او الاغلاق */

    /* نهاية تنسيقات رؤية ازرار الحفظ او الاغلاق */

    /* نهاية تنسيقات نافذة تعديل الكوفر او الصورة الشخصية */

    /* نهاية تنسيقات النوافذ المنبثقة */
}

@media (min-width:361px) and (max-width:420px)
{
    .base
    {
        width:329px;
    }

    /* تنسيقات الجزء العلوي */

    /**************************************************************************************************************/

    /* تنسيقات نص الترحيب */

    /* نهاية تنسيقات نص الترحيب */

    /* نهاية تنسيقات الجزء العلوي */

    /************************************************************************************************************************/

    /* تنسيقات الجزء السفلي */

    .base .parts-bottom
    {
        padding:0 45px 43px !important;
    }

    /* تنسيقات عامة للفورمات */

    /* تنسيقات الانبوتات */

    /* نهاية تنسيقات الانبوتات */

    /****************************************************************************************************/

    /* تنسيقات المعلومات */

    .base .parts-bottom form .infos-base
    {
        span,a
        {
            line-height:18px;
        }
    }

    /* تنسيقات خيار تذكرني */

    /* نهاية تنسيقات خيار تذكرني */

    /******************************************************************************************/

    /* تنسيقات خيار هل لديك حساب او هل لا تمتلك حساب بعد */

    .base .parts-bottom form .infos-base a
    {
        text-align:right;
    }

    /* نهابة تنسيقات خيار هل لديك حساب او هل لا تمتلك حساب بعد */

    /* نهاية تنسيقات المعلومات */

    /****************************************************************************************************/

    /* تنسيقات زر تسجيل او تسجيل الدخول */

    /* نهاية تنسيقات زر تسجيل او تسجيل الدخول */

    /* نهاية تنسيقات عامة للفورمات */

    /**************************************************************************************************************/

    /* تنسيقات مخصصة لفورم تسجيل الدخول */

    /* نهاية تنسيقات مخصصة لفورم تسجيل الدخول */

    /**************************************************************************************************************/

    /* تنسيقات فورم التسجيل بحساب جديد */

    /* نهاية تنسيقات فورم التسجيل بحساب جديد */

    /**************************************************************************************************************/

    /* تنسيقات الملف الشخصي */

    /* تنسيقات المعلومات الشخصية */

    /* نهاية تنسيقات المعلومات الشخصية */

    /****************************************************************************************************/

    /* تنسيقات زر تسجيل الخروج */

    /* نهاية تنسيقات زر تسجيل الخروج */

    /* نهاية تنسيقات الملف الشخصي */

    /* نهاية تنسيقات الجزء السفلي */

    /************************************************************************************************************************/

    /* تنسيقات النوافذ المنبثقة */

    /* تنسيقات نافذة تعديل الكوفر او الصورة الشخصية */

    /* تنسيقات رؤية النتيجة قبل الحفظ */

    /* نهاية تنسيقات رؤية النتيجة قبل الحفظ */

    /****************************************************************************************************/

    /* تنسيقات رؤية ازرار الحفظ او الاغلاق */

    /* نهاية تنسيقات رؤية ازرار الحفظ او الاغلاق */

    /* نهاية تنسيقات نافذة تعديل الكوفر او الصورة الشخصية */

    /* نهاية تنسيقات النوافذ المنبثقة */
}

@media (min-width:421px) and (max-width:450px)
{
    .base
    {
        width:359px;
    }

    /* تنسيقات الجزء العلوي */

    /**************************************************************************************************************/

    /* تنسيقات نص الترحيب */

    /* نهاية تنسيقات نص الترحيب */

    /* نهاية تنسيقات الجزء العلوي */

    /************************************************************************************************************************/

    /* تنسيقات الجزء السفلي */

    .base .parts-bottom
    {
        padding:0 51px 43px !important;
    }

    /* تنسيقات عامة للفورمات */

    /* تنسيقات الانبوتات */

    /* نهاية تنسيقات الانبوتات */

    /****************************************************************************************************/

    /* تنسيقات المعلومات */

    .base .parts-bottom form .infos-base
    {
        span,a
        {
            line-height:18px;
        }
    }

    /* تنسيقات خيار تذكرني */

    /* نهاية تنسيقات خيار تذكرني */

    /******************************************************************************************/

    /* تنسيقات خيار هل لديك حساب او هل لا تمتلك حساب بعد */

    .base .parts-bottom form .infos-base a
    {
        text-align:right;
    }

    /* نهابة تنسيقات خيار هل لديك حساب او هل لا تمتلك حساب بعد */

    /* نهاية تنسيقات المعلومات */

    /****************************************************************************************************/

    /* تنسيقات زر تسجيل او تسجيل الدخول */

    /* نهاية تنسيقات زر تسجيل او تسجيل الدخول */

    /* نهاية تنسيقات عامة للفورمات */

    /**************************************************************************************************************/

    /* تنسيقات مخصصة لفورم تسجيل الدخول */

    /* نهاية تنسيقات مخصصة لفورم تسجيل الدخول */

    /**************************************************************************************************************/

    /* تنسيقات فورم التسجيل بحساب جديد */

    /* نهاية تنسيقات فورم التسجيل بحساب جديد */

    /**************************************************************************************************************/

    /* تنسيقات الملف الشخصي */

    /* تنسيقات المعلومات الشخصية */

    /* نهاية تنسيقات المعلومات الشخصية */

    /****************************************************************************************************/

    /* تنسيقات زر تسجيل الخروج */

    /* نهاية تنسيقات زر تسجيل الخروج */

    /* نهاية تنسيقات الملف الشخصي */

    /* نهاية تنسيقات الجزء السفلي */

    /************************************************************************************************************************/

    /* تنسيقات النوافذ المنبثقة */

    /* تنسيقات نافذة تعديل الكوفر او الصورة الشخصية */

    /* تنسيقات رؤية النتيجة قبل الحفظ */

    /* نهاية تنسيقات رؤية النتيجة قبل الحفظ */

    /****************************************************************************************************/

    /* تنسيقات رؤية ازرار الحفظ او الاغلاق */

    /* نهاية تنسيقات رؤية ازرار الحفظ او الاغلاق */

    /* نهاية تنسيقات نافذة تعديل الكوفر او الصورة الشخصية */

    /* نهاية تنسيقات النوافذ المنبثقة */
}

@media (min-width:451px) and (max-width:520px)
{
    .base
    {
        width:415px;
    }

    /* تنسيقات الجزء العلوي */

    /**************************************************************************************************************/

    /* تنسيقات نص الترحيب */

    /* نهاية تنسيقات نص الترحيب */

    /* نهاية تنسيقات الجزء العلوي */

    /************************************************************************************************************************/

    /* تنسيقات الجزء السفلي */

    .base .parts-bottom
    {
        padding:0 55px 43px !important;
    }

    /* تنسيقات عامة للفورمات */

    /* تنسيقات الانبوتات */

    /* نهاية تنسيقات الانبوتات */

    /****************************************************************************************************/

    /* تنسيقات المعلومات */

    /* تنسيقات خيار تذكرني */

    /* نهاية تنسيقات خيار تذكرني */

    /******************************************************************************************/

    /* تنسيقات خيار هل لديك حساب او هل لا تمتلك حساب بعد */

    /* نهابة تنسيقات خيار هل لديك حساب او هل لا تمتلك حساب بعد */

    /* نهاية تنسيقات المعلومات */

    /****************************************************************************************************/

    /* تنسيقات زر تسجيل او تسجيل الدخول */

    /* نهاية تنسيقات زر تسجيل او تسجيل الدخول */

    /* نهاية تنسيقات عامة للفورمات */

    /**************************************************************************************************************/

    /* تنسيقات مخصصة لفورم تسجيل الدخول */

    /* نهاية تنسيقات مخصصة لفورم تسجيل الدخول */

    /**************************************************************************************************************/

    /* تنسيقات فورم التسجيل بحساب جديد */

    /* نهاية تنسيقات فورم التسجيل بحساب جديد */

    /**************************************************************************************************************/

    /* تنسيقات الملف الشخصي */

    /* تنسيقات المعلومات الشخصية */

    /* نهاية تنسيقات المعلومات الشخصية */

    /****************************************************************************************************/

    /* تنسيقات زر تسجيل الخروج */

    /* نهاية تنسيقات زر تسجيل الخروج */

    /* نهاية تنسيقات الملف الشخصي */

    /* نهاية تنسيقات الجزء السفلي */

    /************************************************************************************************************************/

    /* تنسيقات النوافذ المنبثقة */

    /* تنسيقات نافذة تعديل الكوفر او الصورة الشخصية */

    /* تنسيقات رؤية النتيجة قبل الحفظ */

    /* نهاية تنسيقات رؤية النتيجة قبل الحفظ */

    /****************************************************************************************************/

    /* تنسيقات رؤية ازرار الحفظ او الاغلاق */

    /* نهاية تنسيقات رؤية ازرار الحفظ او الاغلاق */

    /* نهاية تنسيقات نافذة تعديل الكوفر او الصورة الشخصية */

    /* نهاية تنسيقات النوافذ المنبثقة */
}

@media (min-width:521px) and (max-width:571px)
{
    .base
    {
        width:453px;
    }
    
    /* تنسيقات الجزء العلوي */

    /**************************************************************************************************************/

    /* تنسيقات نص الترحيب */

    /* نهاية تنسيقات نص الترحيب */

    /* نهاية تنسيقات الجزء العلوي */

    /************************************************************************************************************************/

    /* تنسيقات الجزء السفلي */

    .base .parts-bottom
    {
        padding:0 63px 43px !important;
    }

    /* تنسيقات عامة للفورمات */

    /* تنسيقات الانبوتات */

    /* نهاية تنسيقات الانبوتات */

    /****************************************************************************************************/

    /* تنسيقات المعلومات */

    /* تنسيقات خيار تذكرني */

    /* نهاية تنسيقات خيار تذكرني */

    /******************************************************************************************/

    /* تنسيقات خيار هل لديك حساب او هل لا تمتلك حساب بعد */

    /* نهابة تنسيقات خيار هل لديك حساب او هل لا تمتلك حساب بعد */

    /* نهاية تنسيقات المعلومات */

    /****************************************************************************************************/

    /* تنسيقات زر تسجيل او تسجيل الدخول */

    /* نهاية تنسيقات زر تسجيل او تسجيل الدخول */

    /* نهاية تنسيقات عامة للفورمات */

    /**************************************************************************************************************/

    /* تنسيقات مخصصة لفورم تسجيل الدخول */

    /* نهاية تنسيقات مخصصة لفورم تسجيل الدخول */

    /**************************************************************************************************************/

    /* تنسيقات فورم التسجيل بحساب جديد */

    /* نهاية تنسيقات فورم التسجيل بحساب جديد */

    /**************************************************************************************************************/

    /* تنسيقات الملف الشخصي */

    /* تنسيقات المعلومات الشخصية */

    /* نهاية تنسيقات المعلومات الشخصية */

    /****************************************************************************************************/

    /* تنسيقات زر تسجيل الخروج */

    /* نهاية تنسيقات زر تسجيل الخروج */

    /* نهاية تنسيقات الملف الشخصي */

    /* نهاية تنسيقات الجزء السفلي */

    /************************************************************************************************************************/

    /* تنسيقات النوافذ المنبثقة */

    /* تنسيقات نافذة تعديل الكوفر او الصورة الشخصية */

    /* تنسيقات رؤية النتيجة قبل الحفظ */

    /* نهاية تنسيقات رؤية النتيجة قبل الحفظ */

    /****************************************************************************************************/

    /* تنسيقات رؤية ازرار الحفظ او الاغلاق */

    /* نهاية تنسيقات رؤية ازرار الحفظ او الاغلاق */

    /* نهاية تنسيقات نافذة تعديل الكوفر او الصورة الشخصية */

    /* نهاية تنسيقات النوافذ المنبثقة */
}

/* نهاية ضبط تنسيقات الميديا كويري */

/* نهاية قاعدة فورم تسجيل الدخول و التسجيل و الملف الشخصي */